@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');

html {
  --darkBlue: #253855;
  --almostWhite: #dbe5e8;
  --blue1: #378daa;
  --blue2: #319ecc;
  --turquoise: #8fbabf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 60px;
}
body {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--darkBlue);
}
.box-shadow {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding: 10px;
  position: relative;
  z-index: 100;
  background-color: var(--darkBlue);
  div {
    width: 100%;
    a {
      width: 100%;
      height: 50px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      text-decoration: none;
      color: var(--almostWhite);
      background-image: url(../images/icons/home_White_24dp.svg);
    }
  }
  div.call {
    a {
      background-image: url(../images/icons/call_White_24dp.svg);
    }
  }
  div.location {
    a {
      background-image: url(../images/icons/location_on_White_24dp.svg);
    }
  }
  div.book {
    a {
      background-image: url(../images/icons/event_White_24dp.svg);
    }
  }
  div.hamburger {
    position: absolute;
    z-index: 101;
    top: 20px;
    right: 30px;
    height: 40px;
    width: 60px;
    display: grid;
    row-gap: 10px;
    span {
      display: block;
      position: relative;
      width: 60px;
      height: 5px;
      top: 0;
      background-color: #fff;
      transition: color 0.5s 0s, transform 0.5s 0s, background-color 0.5s 0s,
        top 0.5s 0.25s;
    }
    &:focus {
      & span {
        background-color: rgb(255, 255, 255);
        &:nth-child(1) {
          top: 17px;
          transform: rotateZ(45deg);
          transition: top 0.5s 0s, background-color 0.5s 0s,
            transform 0.5s 0.25s;
        }
        &:nth-child(2) {
          opacity: 0;
          transition: all 0.5s;
        }
        &:nth-child(3) {
          transform: rotateZ(-45deg);
          top: -17px;
          transition: top 0.5s 0s, background-color 0.5s 0s,
            transform 0.5s 0.25s;
        }
      }
      & + nav {
        right: 0;
        transition: right 0.5s 0s;
      }
      & ~ .invisibleButton {
        display: block;
      }
    }
  }
  nav {
    background-color: rgb(17, 17, 17);
    max-height: 100vh;
    overflow: auto;
    width: 40%;
    position: absolute;
    top: 0;
    right: -100%;
    transition: right 0.5s 0.2s;
    ul {
      list-style-type: none;
      text-align: center;
      justify-content: center;
      padding: 100px 0 0 0;
      display: block;
      li {
        font-size: 3em;
        a {
          text-decoration: none;
          color: rgb(255, 255, 255);
          &:hover {
            background-color: #555;
            transition: all 1s;
            color: gold;
          }
        }
      }
    }
  }
  .invisibleButton {
    position: absolute;
    z-index: 102;
    top: 20px;
    right: 30px;
    height: 50px;
    width: 60px;
    display: none;
  }
}
// end of header ///////////////////////////////////////////////////////////////////

main {
  section {
    height: calc(100vh - 75px);
    overflow: hidden;
    &.top {
      min-height: calc(100vh - 75px);
      position: relative;
      display: grid;
      align-items: center;
      justify-content: center;
      background-image: url(../images/minh-pham-OtXADkUh3-I-unsplash.jpg);
      background-size: cover;
      div {
        width: 100%;
        h2 {
          animation: glow 3s infinite;
          margin: 10px;
          text-align: center;
          background-color: var(--darkBlue);
          color: #fff;
          font-size: 2em;
          width: 220px;
          padding: 10px;
          border-radius: 10px;
          &:focus ~ div.TellMeMoreModal {
            top: -75px;
          }
          &:focus ~ button.close {
            display: block;
          }
        }
        div.TellMeMoreModal {
          left: 0;
          width: 100%;
          height: 100vh;
          background-color: rgba(255, 255, 255, 0.5);
          position: absolute;
          top: 100%;
          display: grid;
          align-items: center;
          justify-content: center;
          transition: top 0.2s;
          &:focus {
            top: -75px;
            display: grid;
          }
          .modalContent {
            position: relative;
            width: 600px;
            height: 500px;
            background-color: var(--darkBlue);
            p {
              padding: 100px;
              color: #fff;
              font-size: 1.2em;
            }
            button.close {
              color: #fff;
              font-size: 2em;
              background: transparent;
              border: none;
              position: absolute;
              top: 10px;
              right: 10%;
            }
          }
        }
        #BookNowModal {
          &.open {
            top: -75px;
          }
          left: 0;
          width: 100%;
          height: 100vh;
          background-color: rgba(255, 255, 255, 0.5);
          position: absolute;
          top: 100%;
          display: grid;
          align-items: center;
          justify-content: center;
          transition: top 0.2s;
          .modalContent {
            padding: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            width: 400px;
            height: 300px;
            background-color: var(--darkBlue);
            input,
            select,
            button {
              font-size: 1.5em;
            }
            button.close {
              color: #fff;
              font-size: 2em;
              background: transparent;
              border: none;
              position: absolute;
              top: 10px;
              right: 10%;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:1000px) {
  header {
    background-color: rgba(255, 255, 255, 0.5);
    grid-template-columns: repeat(6, 1fr);
    &.box-shadow {
      box-shadow: none;
    }
    nav {
      width: 80%;
      max-height: 100vh;
      overflow: auto;
    }
    div.hamburger {
      display: grid;
      span {
        background-color: #000;
      }
    }
    div {
      a {
        background-image: url(../images/icons/home_black_24dp.svg);
      }
    }
    div.call {
      a {
        background-image: url(../images/icons/call_black_24dp.svg);
      }
    }
    div.location {
      a {
        background-image: url(../images/icons/location_on_black_24dp.svg);
      }
    }
    div.book {
      a {
        background-image: url(../images/icons/event_black_24dp.svg);
      }
    }
  }
  main {
    section {
      &.top {
        div.TellMeMoreModal {
          .modalContent {
            width: 100%;
            p {
              padding: 100px 20px 20px 20px;
            }
          }
        }
        div#BookNowModal {
          .modalContent {
            padding: 60px 20px;
            width: 100vw;
          }
        }
      }
    }
  }
}

@keyframes glow {
  0% {
    background-color: var(--darkBlue);
    box-shadow: 0 0 0px rgb(0, 174, 255);
  }
  50% {
    background-color: rgb(195, 225, 250);
    box-shadow: 0 0 20px rgb(0, 174, 255);
  }
  100% {
    background-color: var(--darkBlue);
    box-shadow: 0 0 0px rgb(0, 174, 255);
  }
}
